$color-white-100: #ffffff;

$color-black-700: #212121;
$color-black-900: #000000;

$color-gray-100: #e5e5e5;
$color-gray-150: #efe9e5;
$color-gray-200: #e2d8cf;
$color-gray-300: #d2d2d2;
$color-gray-400: #cccccc;
$color-gray-600: #6c6c6c;

$color-blue-100: #106eb0;
$color-blue-200: #2f70bd;
$color-blue-300: #00407b;
$color-blue-400: #0d2a4a;

$color-green-100: #007a47;

$color-red-100: #b71b1b;
$color-red-200: #991613;

$color-pink-300: #e20a89;
$color-purple-200: #781b8e;
$color-orange-200: #ec7000;

$color-yellow-100: #fec700;
$color-yellow-200: #e6a20a;
$color-yellow-300: #fea100;
