header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;

  padding: 2.4rem;
  background-color: #0d2a4a;

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .logo {
      background-image: url("../../assets/images/logo.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 11rem;
      height: 100%;
      cursor: pointer;

      margin-right: 3.6rem;
    }

    nav {
      display: flex;
      align-items: center;

      .menu {
        display: flex;
        gap: 2rem;

        color: #fff;
        font-size: 1.8rem;

        .item {
          padding: 0.5rem 1rem;
          cursor: pointer;
          position: relative;
          transform: translateY(25%);

          &::after {
            content: "";
            position: absolute;
            left: -0.5rem;
            border: 0.25rem solid transparent;
            background-color: transparent;
            border-radius: 50rem 50rem 0 0;
            margin-top: 2.2rem;
            display: block;
            width: 0;

            transition: all 0.5s;
          }

          &:hover {
            color: #c99b3b;

            &::after {
              border-color: #c99b3b;
              background-color: #c99b3b;
              width: calc(100% + 1rem);
            }
          }
        }
      }
    }
  }
}
