<div class="accordion">
  <div class="contentBox" (click)="toggle($event)">
    <div class="title">Titulo</div>
    <div class="content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dicta libero minus nihil nemo eligendi sed non
        nostrum qui assumenda. Explicabo numquam voluptatum natus officia, incidunt repellendus nostrum necessitatibus!
        Commodi.</p>
    </div>
  </div>
  <div class="contentBox" (click)="toggle($event)">
    <p class="title">Título 1</p>
    <div class="content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dicta libero minus nihil nemo eligendi sed non
        nostrum qui assumenda. Explicabo numquam voluptatum natus officia, incidunt repellendus nostrum necessitatibus!
        Commodi.</p>
    </div>
  </div>
  <div class="contentBox" (click)="toggle($event)">
    <p class="title">Título 1</p>
    <div class="content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dicta libero minus nihil nemo eligendi sed non
        nostrum qui assumenda. Explicabo numquam voluptatum natus officia, incidunt repellendus nostrum necessitatibus!
        Commodi.</p>
    </div>
  </div>
  <div class="contentBox" (click)="toggle($event)">
    <p class="title">Título 1</p>
    <div class="content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dicta libero minus nihil nemo eligendi sed non
        nostrum qui assumenda. Explicabo numquam voluptatum natus officia, incidunt repellendus nostrum necessitatibus!
        Commodi.</p>
    </div>
  </div>
</div>
