@import "src/styles.scss";

.accordion {
  .contentBox {
    margin-bottom: 1.5rem;

    .title {
      position: relative;
      padding: 2.4rem 3.2rem;
      background-color: $color-primary;
      cursor: pointer;
      color: $color-title;
      font-size: 1.8rem;

      display: flex;

      p {
        margin-right: 3rem;
      }

      mat-icon {
        margin-block: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 0;
        right: 2rem;

        transition: all 0.5s;
        font-size: 3rem;
      }

      border-radius: 1rem;
    }

    .content {
      position: relative;
      color: $color-text;
      background-color: $color-background;

      font-size: 1.6rem;
      line-height: 2.4rem;

      height: 0;
      overflow: hidden;
      overflow-y: auto;
      opacity: 0;
      transition: all 0.5s;
    }

    &.active {
      .title {
        border-radius: 2rem 0rem 0 0;

        mat-icon {
          transform: rotateX(180deg);
        }
      }

      .content {
        height: 100%;
        padding: 2.4rem 3.2rem;
        border-radius: 0 0 2rem 2rem;
        opacity: 1;
        background-color: $color-gray-100;
        line-height: 150%;
        font-size: 1.6rem;
      }
    }
  }
}
