@import "src/styles.scss";

section {
  &::before {
    content: ".";
    position: absolute;
    left: 0;
    background-color: $color-primary;
    width: 100vw;
    height: 19.4rem;
    transform: translateY(-20%);

    z-index: -1;
  }
}
h2 {
  font-size: 3.6rem;
  color: $color-secondary;
  margin-top: 5rem;
  margin-bottom: 1.6rem;
  font-weight: 700;
}

p {
  color: $color-text;
}

a {
  font-weight: 600;
  color: $color-primary;

  &:hover {
    text-decoration: underline;
  }
}

.subtitle {
  margin-bottom: 5.6rem;
  color: $color-title;
  font-size: 2rem;
}

@media (min-width: 720px) {
  .subtitle {
    span {
      display: block;
    }
  }
}
